<section id="questions-container">
  <div
    class="info-message"
    *ngIf="questions === undefined || questions.length === 0"
  >
    No questions found!
  </div>
  <ng-container *ngFor="let question of questions; index as i">
    <app-question
      *ngIf="i < questionsPerPage"
      [question]="question"
    ></app-question>
  </ng-container>
</section>

<app-questions-pagination
  [page]="page"
  [hasNext]="questions.length === questionsPerPage + 1"
  *ngIf="questions !== undefined && questions.length !== 0"
>
</app-questions-pagination>
