#questions-container {
  padding: 1rem 2rem;
}

.info-message {
  text-align: center;
  font-size: 18px;
}

/* ---------------- Media Queries ---------------- */

/* Applies when the screen width is below 600px */
@media screen and (max-width: 600px) {
  #questions-container {
    padding: 1rem 1rem;
  }
}
