<div class="about-section">
  <p class="styled-text">
    <strong>Questions and answers from students to students!</strong>
  </p>
  <p>
    Τhis application is designed for students of the department of Management
    Science & Technology of Athens University of Economics and Business.
  </p>
  <p>
    Our goal is to make students feel free to ask and answer other student’s
    questions, so that any problem that students may encounter during their
    studies can be solved immediately and quickly.
  </p>
  <p>
    The application is especially suitable for students who want to keep their
    identity secret when asking questions, so all users have the ability to log
    in with any username of their choice.
  </p>
  <p class="styled-text">
    <strong>Don’t hesitate, be free to ask!</strong>
  </p>
</div>
