<div class="filter">
  <button class="filter-btn">Filter <i class="fas fa-caret-down"></i></button>
  <div class="filter-options">
    <a href="#"><i class="fas fa-circle"></i> General</a>
    <a href="#"><i class="fas fa-circle"></i> Semester 1</a>
    <a href="#"><i class="fas fa-circle"></i> Semester 2</a>
    <a href="#"><i class="fas fa-circle"></i> Semester 3</a>
    <a href="#"><i class="fas fa-circle"></i> Semester 4</a>
    <a href="#"><i class="fas fa-circle"></i> Semester 5</a>
    <a href="#"><i class="fas fa-circle"></i> Semester 6</a>
    <a href="#"><i class="fas fa-circle"></i> Semester 7</a>
    <a href="#"><i class="fas fa-circle"></i> Semester 8</a>
  </div>
</div>
