<div id="container">
  <form
    class="form-horizontal"
    [formGroup]="askQuestionForm"
    (ngSubmit)="onSubmit()"
  >
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <div class="form-group">
      <label id="title_label" for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Insert the title of your question"
        formControlName="title"
        required
      />
    </div>

    <div class="form-group">
      <label id="body_label" for="question-body">Body:</label>
      <textarea
        id="question-body"
        name="name"
        rows="10"
        cols="130"
        placeholder="Enter details here..."
        formControlName="body"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label id="category_label" for="category">Category:</label>
      <select id="category" name="category" formControlName="category" required>
        <option value="" disabled selected>
          --Please choose the category of your question--
        </option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="submit-question_btn">
      <button id="submit-btn" class="btn btn-warning">Submit</button>
    </div>
  </form>
</div>
