.search {
  display: flex;
}

#search-bar {
  position: relative;

  width: 40vw;
  min-width: 12rem;
  max-width: 25rem;

  margin-left: 1.5rem;
}

#search-field {
  height: 2.5rem;
  width: 100%;
  padding-left: 10px;
  padding-right: 5px;

  border: 2px solid rgb(177, 177, 177);

  border-radius: 0.25rem;
}

#search-field:focus {
  outline: none;
}

#suggestions-container {
  z-index: 100;
  position: absolute;

  width: 100%;
  max-height: 236px;
  overflow-y: auto;

  background-color: var(--color-white);

  border-left: 1px solid var(--color-red);
  border-right: 1px solid var(--color-red);
  border-bottom: 1px solid var(--color-red);

  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.suggestion {
  padding: 5px 10px;
}

.suggestion:hover {
  background-color: #efefef;
}

#search-btn {
  height: 2.5rem;
  margin-left: 0.5rem;

  color: var(--color-white);
}

/* ---------------- Media Queries ---------------- */

/* Applies when the screen width is below 600px */
@media screen and (max-width: 600px) {
  #search-field {
    margin-left: 10px;
  }

  #search-btn {
    margin-left: 1rem;
  }

  #suggestions-container {
    margin-left: 0.6rem;
  }
}
